.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flex {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.Container {
  width: 30%;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  color: #61dafb;
  padding: 20px;
  margin: 20px;
  border: solid;
}
.Container p {
  color: white;
}

.Container .algo-single {
  font-size: 15px;
}
a .normal-a {
  color: white;
  text-decoration: none;
}
.psudeocode {
  font-size: 12px;
}
li {
  text-align: left;
}
/* button click realistic feel */
button {
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  color: #333;
  background-color: white;
  outline: none;
  padding: 0.7rem 1.5rem;
  margin: 70px;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.6);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
button::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition: all 0.2s;
}

button:active,
button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
